* {
    margin: 0;  
    padding: 0;
}
header {
    background: fuchsia;
    padding: 20px 0;
    height: 60px;
}
main {
    background: darkgoldenrod;
}
footer {
    background: saddlebrown;
    height: 60px;
}